examples/globaladressing.flow.json
[{"id":"5f4465b74a62ad8c","type":"tab","label":"Global Content Adressing Sample","disabled":false,"info":"This Sample shows how <a href=\"https://tydids.com/\">tydids</a> may be used to have a unique, global address (presentation) to access a data set without the hurdle of caring about transport, connection etc..."},{"id":"1edd8abb6a84ede4","type":"inject","z":"5f4465b74a62ad8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":120,"wires":[["1783e9482740cffb"]]},{"id":"1783e9482740cffb","type":"Tydids-Sender","z":"5f4465b74a62ad8c","name":"","address":"0x2a5862351f7FbBf7939CE884AEfE6539D90b710F","privateKey":"0x411e75ceb3a2840ad0661394af5ec21299e8254a9d56a877efda94ddb3c4e0f0","x":400,"y":120,"wires":[[]]},{"id":"036e74c416c5c8dd","type":"debug","z":"5f4465b74a62ad8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":120,"wires":[]},{"id":"5fa1154043b44e52","type":"Tydids-Receiver","z":"5f4465b74a62ad8c","name":"","address":"0x2a5862351f7FbBf7939CE884AEfE6539D90b710F","privateKey":"","x":780,"y":120,"wires":[["036e74c416c5c8dd"],[]]}]
