examples/globaladressing.flow.json
[{"id":"5f4465b74a62ad8c","type":"tab","label":"Global Content Adressing Sample","disabled":false,"info":"This Sample shows how <a href=\"https://tydids.com/\">tydids</a> may be used to have a unique, global address (presentation) to access a data set without the hurdle of caring about transport, connection etc..."},{"id":"1edd8abb6a84ede4","type":"inject","z":"5f4465b74a62ad8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":80,"wires":[["dee74c5d0157b676"]]},{"id":"036e74c416c5c8dd","type":"debug","z":"5f4465b74a62ad8c","name":"Payload on Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"dee74c5d0157b676","type":"Tydids-Sender","z":"5f4465b74a62ad8c","name":"","address":"0x281195C385d84E06977d911440AC92a53a5ca8b5","privateKey":"","extendMode":true,"x":400,"y":80,"wires":[[]]},{"id":"fd5b28b3b50feed4","type":"Tydids-Receiver","z":"5f4465b74a62ad8c","name":"","address":"0x281195C385d84E06977d911440AC92a53a5ca8b5","privateKey":"","x":420,"y":320,"wires":[["036e74c416c5c8dd"],["27676fd49f367590"],["3e1008c997b122e2"],["3a8f8b175517382c"]]},{"id":"27676fd49f367590","type":"debug","z":"5f4465b74a62ad8c","name":"DID on Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"3e1008c997b122e2","type":"debug","z":"5f4465b74a62ad8c","name":"Payload after Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"3a8f8b175517382c","type":"debug","z":"5f4465b74a62ad8c","name":"Did after Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"78ce23b827000af1","type":"inject","z":"5f4465b74a62ad8c","name":"Trigger output[2,3]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":320,"wires":[["fd5b28b3b50feed4"]]}]
