examples/jwtdid.flow.json
[{"id":"d1bfe82ba9c8d6a0","type":"tab","label":"JWT-DID Builder and Resolver Sample","disabled":false,"info":""},{"id":"0df79412043f3ef5","type":"Tydids-JWTPresentation","z":"d1bfe82ba9c8d6a0","name":"","x":730,"y":180,"wires":[["58fad45e11c20701"],["d946f7fcc8cb7b1b"]]},{"id":"58fad45e11c20701","type":"debug","z":"d1bfe82ba9c8d6a0","name":"Only Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"d946f7fcc8cb7b1b","type":"debug","z":"d1bfe82ba9c8d6a0","name":"Full Resolution","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":200,"wires":[]},{"id":"d0fb80b6ebf25d50","type":"Tydids-JWTBuilder","z":"d1bfe82ba9c8d6a0","name":"","privateKey":"","x":310,"y":180,"wires":[["350f355d3108325f","0df79412043f3ef5"]]},{"id":"350f355d3108325f","type":"debug","z":"d1bfe82ba9c8d6a0","name":"JWT DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":240,"wires":[]},{"id":"52f00953b523bdd7","type":"inject","z":"d1bfe82ba9c8d6a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":180,"wires":[["d0fb80b6ebf25d50"]]},{"id":"2105f7ac9e0853d3","type":"inject","z":"d1bfe82ba9c8d6a0","name":"Hello World JWT-DID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NkstUiJ9.eyJpYXQiOjE2NDY0MzgwOTgsImhlbGxvIjoiV29ybGQiLCJfYWRkcmVzcyI6IjB4MzI3ZGViNkFiQmRFNzM2NzFiZDUxNTcxRWNEYTRCYWM5NUIzZjQ4ZCIsIl9yZXZpc2lvbiI6IjB4MzI3ZGViNkFiQmRFNzM2NzFiZDUxNTcxRWNEYTRCYWM5NUIzZjQ4ZCIsImlzcyI6ImRpZDpldGhyOjYyMjY6MHgzMjdkZWI2QWJCZEU3MzY3MWJkNTE1NzFFY0RhNEJhYzk1QjNmNDhkIn0.XZu1NDjOlTBJNZwjccmFM6cD_GUsTn_BmbFvuGniks308MN55ZCUavja90A5cKcEACWY2yjR9TJd_BfSYl1EgAE","payloadType":"str","x":610,"y":80,"wires":[["0df79412043f3ef5"]]}]
